.countries{
    text-align: center;
    width: 80%;
    border: 3px solid rgb(51, 139, 51);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(201, 236, 197);
}

.countries img{
    width: 20%;
}

.countries button{
    width: 120px;
    height: 30px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
}